In [1]:
import pandas as pd
import os
import glob

data_dir='another_data'
current_dir=os.getcwd()
noise_data_dir=os.path.join(current_dir, data_dir)
noise_data_file=os.path.join(noise_data_dir,'地点*.xlsx')
noise_data_files=glob.glob(noise_data_file)
learning_data_dir=os.path.join(current_dir, data_dir)
noise_data_files

['C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月22日12-18時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月22日18-24時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月23日0-6時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月23日6-12時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月28日12-18時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月28日18-24時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月29日0-6時.xlsx',
 'C:\\Users\\Arakawa\\Documents\\olab\\研究\\異常音判別\\knn\\another_data\\地点①_graph_6月29日6-12時.xlsx']

In [21]:
df_list=[]
for i in range(int(len(noise_data_files)/4)):
    noise_data=noise_data_files[i*4:(i+1)*4]
    
    file_list=[]
    for j in range(len(noise_data)):
        df=pd.read_excel(noise_data[j], sheet_name=1, header=None, usecols=[1, 2, 3, 4, 5, 6], skiprows=2)
        file_list.append(df[:36000])
    
    column_list=[]
    for j in range(len(file_list)):
        tmp=file_list[j]

        for k in tmp.columns:
            column_list.append(tmp[k])

    data=pd.concat(column_list, ignore_index=True)
    data=pd.DataFrame(data, columns=['original'])
    data['day']=i
    df_list.append(data)

In [23]:
df=pd.concat(df_list, ignore_index=True)
df

        original  day
0           67.6    0
1           68.0    0
2           68.1    0
3           68.3    0
4           68.9    0
...          ...  ...
1727995     75.1    1
1727996     74.1    1
1727997     73.8    1
1727998       74    1
1727999     73.7    1

[1728000 rows x 2 columns]

In [4]:
output_file=f'another_data.csv'
df.to_csv(os.path.join(learning_data_dir, output_file), index=False)